@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --black: #32292F;
  --red: #D1462F;
  --blue: #4D7EA8;
  --gray: #607B7D;
}

body {
  color: var(--black);
  background: var(--white)
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

p, a {
  font-size: 1rem;
}

button {
  border: 1px solid red;
  padding: 0.5rem;
  border-radius: 0.25rem;
}